
.component-content {
  text-align: center;
}

.btn-container{
  text-align: center;
}

.btn-group{
  display: inline-block;
}

.navbar{
  background-color: #000000;
}

.nav-item{
  font-size: 40px;
  color: #ffffff;
}